:root {
    --white-color: #fff;
    --black-color: #0000;
    --text-color: #333;
    --orange-color:#f8931e;
}

* {
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Roboto' , sans-serif;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    margin: 0;
}

    /* pagination  */
.pagination {
 display: flex;
 align-items: center;
 justify-content: center;
 height: 110px;
}

.pagination-utral {
  list-style: none;
  margin: 0 2.5px;
}

.pagination-utral__link {
  text-decoration: none;
  font-size: 1.6rem;
  color : var(--text-color);
  display: block;
  text-align: center;
  min-width: 33px;
  line-height: 34px;
  height: 34px;
  border-radius: 5px;
}

.pagination-utral--actinone:hover .pagination-utral__link{
   color: var(--white-color);
}

.pagination-utral--active .pagination-utral__link {
  background-color: #f8931e;
  color: var(--white-color);
}

.pagination-utral--actinone .pagination-utral__link {
    color: black;
    background-color: var(--white-color);
}

.pagination-utral--actinone .pagination-utral__link:hover {
    background-color: #f8931e;
}


